[submodule "spacemacs/.emacs.d"]
	path = dotfiles/spacemacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "zsh/.zsh/zgen"]
	path = dotfiles/zsh/.zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs.git
