[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[user]
	name = Michael Eden
	email = themichaeleden@gmail.com
	signingkey = F881D984
[url "git://anongit.kde.org/"]
    insteadOf = kde:
[url "git@git.kde.org:"]
    pushInsteadOf = kde:
